@import url('https://fonts.cdnfonts.com/css/rubik');
@import url('https://fonts.cdnfonts.com/css/pt-sans-2');
@import url('https://fonts.cdnfonts.com/css/barlow');

.navbar {
    padding: 10px 0px 10px 0px;
    background-color: #009688;

    .navbar-brand {
        font-family: 'Rubik';
        font-size: 20px;
        font-weight: 700;
        margin: 0px 0px 0px 10px;
        color: #fff;
    }
}

.proses {
    position: relative;
    top: 60px;
    padding: 30px;

    .pro-title-area {
        margin: 30px 0px 60px 0px;
    }

    .pro-title {
        font-family: 'Rubik';
        font-size: 45px;
        font-weight: 700;
        margin: 0px;
    }

    .pro-sub-title {
        font-family: 'PT sans';
        font-size: 15px;
        margin: 0px;
    }

    .pro-foto-area {
        padding: 30px 30px 15px 30px;
        border: 1px solid;
        border-radius: 5px;
        border-color: #00000044;
    }

    .pro-btn-area {
        margin: 15px 0px 15px 0px;
    }

    .pro-pilih-btn {
        font-family: 'Barlow';
        font-size: 13px;
        font-weight: 600;
        transition: 0.3s;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        border-radius: 3px;
        padding: 2px 15px 2px 15px;
        color: #fff;
        background-color: #51666C;
    }

    .pro-pilih-btn:hover {
        transition: 0.3s;
        background-color: #009688;
    }

    .pro-url-area {
        margin: 30px 0px 0px 0px;
    }

    .form-control {
        font-family: 'PT sans';
        font-size: 15px;
        border-radius: 3px;
        border-color: #00000044;
    }

    .pro-konfirm-area {
        margin: 15px 0px 0px 0px;
    }

    .pro-konfirm-simpan {
        font-family: 'Barlow';
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0px 10px 0px 0px;
        padding: 4px 20px 4px 20px;
        border: none;
        border-radius: 3px;
        color: #fff;
        background-color: #51666C;
    }

    .pro-konfirm-simpan:hover {
        transition: 0.3s;
        background-color: #009688;
    }

    .pro-konfirm-batal {
        font-family: 'Barlow';
        font-size: 15px;
        font-weight: 600;
        transition: 0.3s;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0px 0px 0px 10px;
        padding: 4px 20px 4px 20px;
        border: none;
        border-radius: 3px;
        color: #fff;
        background-color: #c64543;
    }

    .pro-konfirm-batal:hover {
        transition: 0.3s;
        background-color: #e0423f;
    }
}

.my-footer {
    position: relative;
    top: 90px;
    padding: 60px;
    background-color: #424242;
    color: #fff;

    .head {
        font-family: 'Rubik';
        font-size: 20px;
        font-weight: 600;
        margin: 0px;
    }

    .text {
        font-family: 'PT sans';
        font-size: 13px;
        margin: 0px;
        opacity: 50%;
    }
}

@media (min-width: 1px) and (max-width: 990px) {
    .navbar {
        padding: 10px 0px 10px 0px;
        background-color: #000;

        .navbar-brand {
            font-family: 'WISHFLOW';
            font-size: 20px;
            margin-left: 5px;
            color: #fff;
        }

        .nav-item {
            margin: 5px 12px 0px 0px;
        }

        .nav-link {
            font-family: 'Arial Rounded MT';
            font-size: 16px;
            opacity: 75%;
            color: #fff;
        }

        .nav-link:hover {
            opacity: 100%;
        }

        .aktif {
            opacity: 100%;
        }

        .nav-link-drop {
            font-size: 16px;
            text-decoration: none;
            opacity: 75%;
            color: #fff;
        }

        .drop-1 {
            padding: 5px 0px 15px 0px;
        }

        .drop-2 {
            padding: 0px 0px 6px 0px;
        }

        .nav-link-drop:hover {
            opacity: 100%;
        }

        .dropdown {
            margin: 0px 0px 0px 0px;
        }

        .dropdown-menu {
            font-size: 16px;
            border-radius: 0px;
        }

        .drop-item {
            text-decoration: none;
            padding: 0px 10px;
            color: #000;
        }

        .drop-item:hover {
            color: #e0423f;
        }

        .drop-item-aktif {
            color: #e0423f;
        }

        .nav-btn-2 {
            font-family: 'Arial MT';
            font-size: 16px;
            text-decoration: none;
            padding: 4px 115px 5px 115px;
            border-radius: 10px;
            color: #fff;
            background-color: #c64543;
        }

        .nav-btn-2:hover {
            color: #fff;
            background-color: #e0423f;
        }

        .nav-btn-control {
            display: none;
        }

        .nav-btn-control-2 {
            display: block;
            margin-top: 15px;
        }

        .offcanvas {
            background-color: #000;
        }

        .offcanvas-header {
            padding-bottom: 0px;
        }

        .offcanvas-title {
            font-family: 'Arial Rounded MT Bold';
            font-size: 18px;
            margin-top: 4px;
            color: #fff;
        }

        .offcanvas-body {
            margin-right: -20px;
        }

        .btn-close {
            margin-right: 5px;
            opacity: 100%;
            border: 1px solid;
            border-radius: 50%;
            border-color: #c64543;
            background-color: #c64543;
        }

        .btn-close:hover {
            border-color: #e0423f;
            background-color: #e0423f;
        }
    }

    .my-carousel {
        position: relative;
        top: 60px;

        .caro-btn-prev {
            opacity: 100%;
            width: 20px;
            height: 20px;
            transform: rotate(270deg);
        }

        .caro-btn-next {
            opacity: 100%;
            width: 20px;
            height: 20px;
            transform: rotate(90deg);
        }

        .carousel-control-prev {
            opacity: 100%;
        }

        .carousel-control-prev:hover {
            opacity: 75%;
        }

        .carousel-control-next {
            opacity: 100%;
        }

        .carousel-control-next:hover {
            opacity: 75%;
        }
    }

    .wellcome {
        display: none;
    }

    .data-kelas {
        position: relative;
        top: 60px;
        padding: 17px 20px 17px 20px;

        .dk-title {
            font-family: 'Arial MT';
            font-size: 20px;
            margin: 5px 0px 0px 0px;
        }

        .dk-line {
            display: none;
        }

        .dk-layer-1 {
            margin: 0px;
        }

        .dk-layer-2 {
            margin: 0px;
        }

        .dk-area {
            margin-top: 20px;
            padding: 15px 0px 15px 0px;
            border: 1px solid;
            border-color: #00000044;
        }

        .dk-icon {
            width: 50px;
            height: 50px;
        }

        .dk-head {
            font-family: 'Arial MT';
            font-size: 14px;
            margin: 15px 0px 0px 0px;
        }

        .dk-text {
            font-family: 'Arial Rounded MT';
            font-size: 13px;
            padding: 0px 30px 0px 30px;
            margin: 5px 0px 10px 0px;
        }

        .dk-btn {
            font-family: 'Arial MT';
            font-size: 13px;
            text-decoration: none;
            padding: 2px 20px 2px 20px;
            border-radius: 10px;
            border: 1px solid;
            border-color: #c64543;
            color: #fff;
            background-color: #c64543;
        }

        .dk-btn:hover {
            border-color: #e0423f;
            background-color: #e0423f;
        }
    }

    .galeri {
        position: relative;
        top: 80px;
        padding: 0px;
        background-color: #fff;

        .gl-control {
            border: 1px solid;
            border-color: #00000044;
            padding: 0px;
        }

        .gl-m-title {
            font-family: 'Arial MT';
            font-size: 20px;
            margin: 0px 0px 0px 0px;
        }

        .gl-title {
            display: none;
        }

        .gl-head {
            display: none;
        }

        .gl-text {
            font-family: 'Arial Rounded MT';
            font-size: 15px;
        }

        .gl-area {
            padding: 20px 30px;
        }

        .carousel {
            display: none;
        }

        .gl-mobile {
            display: block;
        }

        .gl-m-control-img {
            margin-top: 15px;
        }

        .gl-btn-control-deks {
            display: none;
        }

        .gl-btn-deks {
            display: none;
        }

        .gl-btn-control {
            display: block;
            padding: 25px 0px 0px 0px;
        }

        .gl-btn {
            display: block;
            font-family: 'Arial MT';
            font-size: 15px;
            text-decoration: none;
            padding: 0px;
            opacity: 100%;
            border-radius: 10px;
            border: none;
            border-color: transparent;
            color: #c64543;
            background-color: transparent;
        }

        .gl-btn:hover {
            opacity: 100%;
            color: #e0423f;
            border-color: transparent;
            background-color: transparent;
        }
    }

    .kontak {
        position: relative;
        top: 80px;
        padding: 30px;

        .kt-head {
            font-family: "Arial MT";
            font-size: 20px;
            margin: 0px;
        }

        .kt-text {
            font-family: 'Arial Rounded MT';
            font-size: 13px;
            padding: 0px 10px 0px 10px;
            margin: 10px 0px 15px 0px;
        }

        .kt-btn {
            font-family: 'Arial MT';
            font-size: 13px;
            text-decoration: none;
            padding: 2px 20px 2px 20px;
            border-radius: 10px;
            border: 1px solid;
            border-color: #c64543;
            color: #fff;
            background-color: #c64543;
        }

        .kt-btn:hover {
            border-color: #e0423f;
            background-color: #e0423f;
        }
    }

    .my-footer {
        position: relative;
        top: 80px;
        padding: 20px;
        background-color: #000;
        color: #fff;

        .head {
            font-family: 'WISHFLOW';
            font-size: 20px;
            margin: 0px;
        }

        .text {
            font-family: 'Arial Rounded MT';
            font-size: 13px;
            margin: 0px;
            opacity: 50%;
        }
    }
}